<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const socket = io();
            
            socket.on('productAdded', function(product) {
                const productList = document.getElementById('productList');
                productList.innerHTML += `<li>${product.title} - ${product.description}</li>`;
            });

            socket.on('productDeleted', function(productId) {
                document.getElementById(`product-${productId}`).remove();
            });
            
            document.getElementById('addProductForm').addEventListener('submit', function(e) {
                e.preventDefault();
                const formData = new FormData(this);
                const product = {};
                formData.forEach((value, key) => {
                    product[key] = value;
                });
                socket.emit('newProduct', product);
            });
            
            document.getElementById('deleteProductForm').addEventListener('submit', function(e) {
                e.preventDefault();
                const productId = document.getElementById('productIdToDelete').value;
                socket.emit('deleteProduct', parseInt(productId));
            });
        });
    </script>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <form id="addProductForm">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="submit" value="Add Product">
    </form>
    <form id="deleteProductForm">
        <input type="number" name="productIdToDelete" id="productIdToDelete" placeholder="Product ID to delete" required>
        <input type="submit" value="Delete Product">
    </form>
    <ul id="productList">
        {{#each products}}
            <li id="product-{{this.id}}">{{this.title}} - {{this.description}}</li>
        {{/each}}
    </ul>
</body>
</html>
